.good {
  background-color: #00e673;
  color: black;
}

.preHyp {
  background-color: #ffffb3;
  color: black;
}

.hypI {
  background-color: #ffbb99;
  color: black;
}

.hypII {
  background-color: #ffa64d;
  color: black;
}

.hypCrisis {
  background-color: #ff3300;
  color: black;
}
