<query ng-if="$ctrl.readings" test="$ctrl.test" user-id="$ctrl.userId" readings="$ctrl.readings" create-line-graph="$ctrl.createLineGraph" create-doughnut="$ctrl.createDoughnut"></query>

<div class="flex-container">
  <div class="canvasContain">
    <canvas id="graph"></canvas>
  </div>
  <div class="canvasContain">
    <canvas id="doughnut"></canvas>
  </div>
</div>
<h3 style="margin-bottom: 20px;" ng-if="$ctrl.mean">Mean Reading: {{$ctrl.mean.sys}} / {{$ctrl.mean.dia}}
<h3 style="margin-bottom: 20px;" ng-if="$ctrl.median">Median Reading: <span>{{$ctrl.median.sys}} / {{$ctrl.median.dia}}</span></h3>
<md-divider ></md-divider>
<google ng-if="$ctrl.hasGoogle"></google>
