:local(.charts) {

  h3 {
    text-align: center;
    margin-top: 30px;
  }

  .flex-container {
    flex-direction: row;
  }

  .canvasContain {
    width: 50%;
  }

  .canvasContain canvas {
    margin-top: 20px;
    margin-bottom: 40px;
    width: 90%;
    height: 90%;
  }

  @media (max-width: 800px) {
    .flex-container {
      display: -webkit-flex;
      display: flex;
      justify-content: space-around;
      flex-direction: column;
    }

    .canvasContain {
      margin: 0 auto;
      width: 75%;
      height: 100%;
      padding: calc((100% - 1500px)/6.1);
      display: inline-block;
    }
  }

}
