<query ng-if="$ctrl.readings" 
  test="$ctrl.test" 
  user-id="$ctrl.userId" 
  readings="$ctrl.readings" 
  create-line-graph="$ctrl.createLineGraph" 
  create-doughnut="$ctrl.createDoughnut"
  chart="$ctrl.chart"
  doughnut="$ctrl.doughnut"
  render-charts="$ctrl.renderCharts">
</query>

<div ng-class="$ctrl.styles.charts">
  <div class="flex-container">
    <div class="canvasContain">
     <h3>Readings By Date:</h3>
      <canvas id="graph"></canvas>
    </div>
    <div class="canvasContain">
      <h3>Readings By Category:</h3>
      <canvas id="doughnut"></canvas>
    </div>
  </div>
</div>
<h3 style="margin-bottom: 20px;" ng-if="$ctrl.mean">Mean Reading: <span>{{$ctrl.mean.sys}} / {{$ctrl.mean.dia}}</span></h3>
<h3 style="margin-bottom: 20px;" ng-if="$ctrl.median">Median Reading: <span>{{$ctrl.median.sys}} / {{$ctrl.median.dia}}</span></h3>
<h3 style="margin-bottom: 20px;" ng-if="$ctrl.avgHours">Avg. Hours per Night: <span>{{$ctrl.avgHours}}</span></h3>
<md-divider ></md-divider>
<google ng-if="$ctrl.hasGoogle"></google>
