:local() {
  // to isolate local classes with same names as in main.scss?
}

.canvasContain {
  width: 75%;
  height: 50%;
  padding: calc((100% - 1500px)/6.1);
  display: inline-block;
}

.canvasContain canvas {
  margin-top: 40px;
}

.canvasContain:last-child {
  margin-right: 0;
}
