<div class='container'>
  <h2 id="date"></h2>
  <h3>Please enter your BP readings below</h3>
  <div class="row">
    <form>
      <label for="systolic">SYS: </label>
      <input type="text" id="systolic"><br>
      <h4>over</h4><br>
      <label for="diastolic">DIA: </label>
      <input type="text" id="diastolic"><br>
      <button type="button" id="bpSubmit" class="btn btn-success">Save BP Reading</button>
      <button type="button" id="delete" class="btn btn-warning">Delete BP Reading</button>
    </form>
  </div>
</div>
