<h3>Welcome {{$ctrl.username}}!</h3>
<h4>Set Goals for your BP Readings, as well as general health goals below.</h4>
<p ng-if="$ctrl.success">{{$ctrl.success}}</p>
<form style="width: 50%; margin: 0 auto;"name="setGoals" ng-submit="setGoals.$valid && $ctrl.submitGoals()" layout="column">
  <md-input-container>
    <label>Systolic Goal: </label>
    <input placeholder="Systolic Goal" name="systolic" ng-model="$ctrl.goals.sysGoal" required>
    <div ng-messages="setGoals.systolic.$error" role="alert">
      <div ng-message="required">This is required!</div>
    </div>
  </md-input-container>
  <md-input-container>
    <label>Diastolic Goal: </label>
    <input placeholder="Diastolic Goal" name="diastolic" ng-model="$ctrl.goals.diaGoal" required>
    <div ng-messages="setGoals.diastolic.$error" role="alert">
      <div ng-message="required">This is required!</div>
    </div>
  </md-input-container>
  <md-input-container>
    <label>Readings per Week Goal: </label>
    <input placeholder="Readings per Week Goal" name="perWeek" ng-model="$ctrl.goals.perWeek" required>
    <div ng-messages="setGoals.perWeek.$error" role="alert">
      <div ng-message="required">This is required!</div>
    </div>
  </md-input-container>
  <md-input-container>
    <label>Sleep Goal: </label>
    <input placeholder="Hours per Night" name="hoursSleep" ng-model="$ctrl.goals.hoursSleep" required>
    <div ng-messages="setGoals.hoursSleep.$error" role="alert">
      <div ng-message="required">This is required!</div>
    </div>
  </md-input-container>
  <md-input-container ng-if="$ctrl.hasGoogle === 'true'">
    <label>Google Fit Steps per Day Goal: </label>
    <input placeholder="Steps per Day" name="stepsDay" ng-model="$ctrl.goals.stepsDay" required>
    <div ng-messages="setGoals.stepsDay.$error" role="alert">
      <div ng-message="required">This is required!</div>
    </div>
  </md-input-container>
  <md-input-container ng-if="$ctrl.hasGoogle === 'true'">
    <label>Google Fit Calories Burnt per Day Goal: </label>
    <input placeholder="Calories per Day" name="caloriesDay" ng-model="$ctrl.goals.caloriesDay" required>
    <div ng-messages="setGoals.caloriesDay.$error" role="alert">
      <div ng-message="required">This is required!</div>
    </div>
  </md-input-container>
  <md-button type="submit" class="md-raised md-primary">Save</md-button>
</form>
