
<md-card>
  <md-card-header>
    <md-card-header-text>
      <div class="welcome">
        <h2>Welcome {{$ctrl.username}}</h2>
        <h3>Reading for {{$ctrl.date | date: 'shortDate'}}: <span>{{$ctrl.todayReading.systolic}} / {{$ctrl.todayReading.diastolic}}</span></h3>
      </div>
    </md-card-header-text>
  </md-card-header>
  <md-card-content>
    <charts ng-if="$ctrl.readings" chart-objects="$ctrl.readings">Loading...</charts>
    <google ng-if="$ctrl.hasGoogle">Loading...</google>
  </md-card-content>
</md-card>
