<md-dialog>
  <md-dialog-content>
    <md-radio-group ng-model="$ctrl.action" layout="row">
      <md-radio-button class="md-accent" ng-model="$ctrl.action" value="signin">Sign In</md-radio-button>
      <md-radio-button class="md-accent" ng-model="$ctrl.action" value="signup">Sign Up</md-radio-button>
    </md-radio-group>
    
		<signin ng-show="$ctrl.action==='signin'" cancel="$ctrl.cancel()" success="$ctrl.success({action: 'signin'})"></signin>
		<signup ng-show="$ctrl.action==='signup'" cancel="$ctrl.cancel()" success="$ctrl.success({action: 'signup'})"></signup>
	</md-dialog-content>
</md-dialog>
